<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite" />
	</configSections>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<!-- for all RpcLite service path -->
			<!--
			<add path="api/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite"/>
			<add path="api/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite"/>
			<add path="api/*/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite"/>
			<add path="api/*/*/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite"/>
			-->
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<RpcLite>
		<appId>10000</appId>
		<services>
			<add name="TestService" path="~/api/test2/" type="RpcLiteServiceTest.TestService2,RpcLiteServiceTest" />
			<add name="TestService" path="~/api/test/" type="RpcLiteServiceTest.TestService1,RpcLiteServiceTest" />
		</services>
		<clients>
			<add name="ProductService" path="http://localhost/api/test/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1" />
		</clients>
	</RpcLite>
	<system.webServer>
		<handlers>
			<!-- for all RpcLite service path -->
			<add name="RpcLite1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite" />
			<add name="RpcLite2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite" />
			<add name="RpcLite3" path="api/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite" />
			<add name="RpcLite4" path="api/*/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite" />
		</handlers>
	</system.webServer>
</configuration>
