<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite.AspNet" />
	</configSections>
	


	<system.web>
		<compilation debug="true" targetFramework="4.0" />


		
		
	<httpHandlers>
			<!-- for all RpcLite service path -->
			<!--
			<add path="api/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path="api/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path="api/*/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path="api/*/*/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			-->
		</httpHandlers><pages controlRenderingCompatibilityVersion="4.0" /></system.web>

	<RpcLite>

		<services>
			<add name="TestService" path="/api/test/" type="RpcLiteServiceTest.TestService1,RpcLite" />
		<add name="TestService" path="/api/test/" type="RpcLiteServiceTest.TestService1,WebHostAssembly" /></services>



		
		
	<appId>10000</appId><clients>
			<add name="ProductService" path="http://localhost/api/test/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1" />
		</clients></RpcLite>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>


	
<system.webServer>
		<handlers>
			<!-- for all RpcLite service path -->
			<add name="RpcLite1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet" />
			<add name="RpcLite2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet" />
			<add name="RpcLite3" path="api/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet" />
			<add name="RpcLite4" path="api/*/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet" />
		</handlers>
	</system.webServer></configuration>
